<div class="card">
    <div class="card-header text-center">
        <%= t('call_for_idea.new_idea') %>
    </div>
    <div class="card-body">
        <%= form_with(model: idea, url: ideas_path, local: true) do |form| %>
        <div class="collapse">
            <%= form.text_field :call_for_idea_id %>
            <%= form.text_field :type_id %>
            <%= form.check_box :ready %>
        </div>
        <div class="form-group">
            <%= form.label :name, t('activerecord.attributes.title'), class: "label-floating" %>
            <%= form.text_field :name, class: "form-control", placeholder: t('idea.placeholder') , required: "" %>
        </div>
        <div class="form-group">
            <%= form.label :cover_picture, t('tags.labels.cover_picture') %>
            <div class="file-upload">
                <div class="file-upload-content">
                    <img class="file-upload-image w-100 img-thumbnail br-0" src="<%= idea.cover_picture.attached? ? url_for(idea.cover_picture) : " javascript:;" %>" alt="your image" />
                    <div class="image-title-wrap text-left">
                        <button type="button" onclick="removeUpload()" class="remove-image btn btn-danger pt-3 w-xs-100 w-auto">Remove <span class="image-title">Uploaded Image</span></button>
                    </div>
                </div>
                <div class="image-upload-wrap">
                    <%= form.file_field :cover_picture, class: "file-upload-input", onchange: "readURL(this);" %>
                    <label class="drag-text" for="idea_cover_picture" style="display: block; cursor: pointer;">
                        <h3>
                            <%= t('tags.labels.drag_and_drop_a_file') %>
                        </h3>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <%= form.label :description, t('activerecord.attributes.description'), class: "label-control" %>
            <%= form.text_area :description, class: "form-control", placeholder: t('idea.description'), required: "", style: "min-height: 75px;" %>
        </div>
        <div class="actions">
            <%= form.submit t('tags.buttons.publish'), class: "btn btn-md w-auto w-xs-100" %>
        </div>
        <% end %>
    </div>
</div>
