<%= form_with(model: call_for_idea, local: true) do |form| %>
<% if call_for_idea.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(call_for_idea.errors.count, "error") %> prohibited this call_for_idea from being saved:</h2>
    <ul>
        <% call_for_idea.errors.full_messages.each do |message| %>
        <li>
            <%= message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
</div>
<div class="form-group">
    <label class="label-control mb-0">Description</label>
    <div class="summernote">
        <p>
            <%= call_for_idea.html_description %>
        </p>
    </div>
    <div class="collapse">
        <%= form.text_area :description, class: "form-control", required: "" %>
    </div>
</div>
<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
</div>
<div class="field">
    <%= form.label :type_id %>
    <%= form.text_field :type_id %>
</div>
<div class="actions">
    <%= form.submit %>
</div>
<% end %>