<div class="section section-signup page-header " style="background-image: url('/assets/route.jpg');">
    <div class="container pt-xs-5 mt-auto mt-xs-0 ">
        <div class="row">
            <div class="col-lg-6 col-md-6 ml-auto mr-auto theA">
                <div class="card card-login pb-2">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f| %>
                    <div class="card-header card-header-primary text-center">
                        <!-- <h4 class="card-title text-capitalize">
                            <%# t('users.sessions.new.sign_in') %>
                        </h4> -->
                        <div class="my-md-0 mx-md-4" style="margin-top: -5%; margin-bottom: -5%; margin-left: 3%; margin-right: 3%;">
                            <div class="">
                                <a href="<%=  user_facebook_omniauth_authorize_path %>" class="btn btn-facebook br-5 bg-white text-primary d-flex">
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="fa fa-facebook fa-2x"></i>
                                        </div>
                                        <div class="col-10 text-center">
                                            <strong class="va-m"><%= t('users.shared.links.sign_in_with_provider', provider: 'facebook') %></strong>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="description text-center">
                        <%= t'tags.or_classical' %>
                    </p>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">mail</i>
                                </span>
                            </div>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">lock_outline</i>
                                </span>
                            </div>
                            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                        </div>
                        <% if devise_mapping.rememberable? %>
                        <div class="form-check">
                            <label class="form-check-label">
                                <%= f.check_box :remember_me, class: "form-check-input" %>
                                <%= t('activerecord.attributes.user.remember_me') %>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <% end %>
                    </div>
                    <div class="footer text-center">
                        <div class="row">
                            <div class="col-12">
                                <%= f.submit t('users.sessions.new.sign_in'), class: "w-75 btn btn-outline-primary btn-link btn-wd btn-lg changeWidth" %>
                            </div>
                            <div class=" col-12">
                                <hr class="my-4">
                                <%= render "users/shared/links" %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>